@tailwind base;
@tailwind components;
@tailwind utilities;

.letter {
  font-size: 28px;
  font-weight: 700;
  display: flex;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  align-content: center
}

.gray-letter {
  color: #fff;
  background: #a4aec4;
}

.yellow-letter {
  color: #fff;
  background-color: #f3c237;
}

.green-letter {
  color: #fff;
  background-color: #79b851;
}

.custom-fa-spin {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-direction: var(--fa-animation-direction, normal);
  animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-name: custom-fa-spin;
  animation-name: custom-fa-spin;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear
}

@-webkit-keyframes custom-fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes custom-fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */